Package: com.lachiekid.myfirstapp
Name: My First App
Version: 1.0.0
Architecture: iphoneos-arm
Description: A simple test app for my Cydia repo!
Maintainer: Lucky
Author: Lucky
Section: Applications
Depends: firmware (>= 4.0)
